
@use "colors";
@use "typo";

@mixin card($color: colors.$cyan) {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-top: 5px solid $color;
    box-shadow: 0px 5px 5px  colors.$grey400;
    padding: 0px 40px 50px 40px;
    width: 300px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: typo.$font-size;
}

.features {
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}

p {
    @extend %description;
}

.description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;

}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    padding: 20px
}

h1 {
    @extend %title;
    font-weight: 200;
}

h1.title {
    margin-top: -20px;
    @extend %title;
}

.card-supervisor {
    @include card;
    grid-area: supervisor;
}
.card-team-builder {
    @include card(colors.$red);
    grid-area: team-builder;
}
.card-karma {
    @include card(colors.$orange);
    grid-area: karma;
}
.card-calculator {
    @include card(colors.$blue);
    grid-area: calculator;
}

img {
    margin-top: 10px;
    align-self: flex-end;
}

h2 {
    @extend %title;
    margin-bottom: -15px;
}

footer {
    position: absolute;
    bottom: 0;
}

@media (min-width: 1200px) {
    .features {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'supervisor team-builder calculator'
        'supervisor karma calculator';
    }

}

